# Creating DataFrames

# From Python Lists

In [3]:
import pandas as pd

data=[
    ["Alice",25],
    ["Bob",30],
    ["Charlie",35]
]

df = pd.DataFrame(data,columns=["Name","Age"])
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

## From Dictionary of Lists

In [6]:
data = {
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,35]
}

df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

## From Numpy Arrays

In [7]:
import numpy as np

arr = np.array([[1,2],[3,4]])
df = pd.DataFrame(arr,columns=["A","B"])
print(df)

   A  B
0  1  2
1  3  4

## From CSV files

In [15]:
df = pd.read_csv("data.csv")
print(df)

                 Actor  ... IMDb
0       Shah Rukh Khan  ...  7.2
1          Salman Khan  ...  6.0
2           Aamir Khan  ...  8.4
3        Ranbir Kapoor  ...  5.6
4        Ranveer Singh  ...  7.0
5   Ayushmann Khurrana  ...  8.3
6        Rajkummar Rao  ...  7.5
7       Hrithik Roshan  ...  6.5
8         Akshay Kumar  ...  7.0
9        Kartik Aaryan  ...  5.9
10        Varun Dhawan  ...  6.1
11       Vicky Kaushal  ...  8.2

[12 rows x 6 columns]

## From JSON

In [14]:
df = pd.read_json("data.json")
print(df)

      Name  Age
0  Hussain   32
1   Insiya   27

## eDA (exploratory data analysis)

In [16]:
df.head()

            Actor             Film  ...  BoxOffice(INR Crore) IMDb
0  Shah Rukh Khan          Pathaan  ...                  1050  7.2
1     Salman Khan  Tiger Zinda Hai  ...                   565  6.0
2      Aamir Khan           Dangal  ...                  2024  8.4
3   Ranbir Kapoor       Brahmastra  ...                   431  5.6
4   Ranveer Singh        Padmaavat  ...                   585  7.0

[5 rows x 6 columns]

In [17]:
df.tail()

             Actor                      Film  ...  BoxOffice(INR Crore) IMDb
7   Hrithik Roshan                       War  ...                   475  6.5
8     Akshay Kumar                Good Newwz  ...                   318  7.0
9    Kartik Aaryan         Bhool Bhulaiyaa 2  ...                   266  5.9
10    Varun Dhawan     Badrinath Ki Dulhania  ...                   201  6.1
11   Vicky Kaushal  Uri: The Surgical Strike  ...                   342  8.2

[5 rows x 6 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Actor                 12 non-null     object
 1   Film                  12 non-null     object
 2   Year                  12 non-null     int64
 3   Genre                 12 non-null     object
 4   BoxOffice(INR Crore)  12 non-null     int64
 5   IMDb                  12 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 704.0+ bytes

In [20]:
df.describe()

              Year  BoxOffice(INR Crore)       IMDb
count    12.000000             12.000000  12.000000
mean   2019.000000            545.666667   6.975000
std       2.215647            528.535942   0.981766
min    2016.000000            111.000000   5.600000
25%    2017.750000            249.750000   6.075000
50%    2018.500000            386.500000   7.000000
75%    2019.750000            570.000000   7.675000
max    2023.000000           2024.000000   8.400000

In [21]:
df.columns

Index(['Actor', 'Film', 'Year', 'Genre', 'BoxOffice(INR Crore)', 'IMDb'], dtype='object')

In [22]:
df.shape

(12, 6)